<div class="panel panel-default">
    <div class="panel-heading">User Orders</div>

    <table *ngIf="orders.length > 0" class="table table-striped">
        <thead>
        <tr>
            <th>Product</th>
            <th>Category</th>
            <th>Sub Category</th>
            <th>Quantity</th>
            <th>Currency Type</th>
            <th>Total Amount</th>
            <th>Promotion</th>
            <th>Purchased Date</th>
        </tr>
        </thead>
        <tr *ngFor="let order of orders">
            <td>{{ order.product.name }}</td>
            <td>{{ order.product.category }}</td>
            <td>{{ order.product.subCategory }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.user.currencyType }}</td>
            <td>{{ order.product.price * order.quantity }}</td>
            <td>
                <span *ngIf="order.promotion">{{ order.promotion.name }}</span>
                <span *ngIf="!order.promotion">NA</span>
            </td>
            <td>{{ order.createdTS }}</td>
        </tr>
    </table>
    <div class="alert alert-info" *ngIf="orders.length == 0" >
        Please choose an option
    </div>
</div>